@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'EB Garamond', serif;
  font-size: 28px;
  color: #333333;
}

.page {
  max-width: 800px;
  margin: 5rem auto;
  padding: 0 1rem;

  .header {
    color: #666666;
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Cormorant Garamond', serif;
      font-style: italic;

      .site-title {
        font-size: 28px;
      }

      .links {
        display: flex;
        align-items: flex-end;
        font-size: 24px;
        a {
          color: #666666;
          text-decoration: none;
          margin-left: 1rem;
          padding: 1rem;
          border-radius: 12px;

          transition: background 0.25s ease-in-out;

          &:hover,
          &:active {
            background-color: #f7f7f7;
          }
        }
      }
    }
  }

  .poem {
    .title {
      font-size: 4rem;
      margin: 5rem 0 3rem;
      font-family: 'Cormorant Garamond', serif;
      font-style: italic;
    }
    p {
      margin: 3rem 0;
      line-height: 1.5;
    }
    .date {
      margin-top: 2rem;
      color: #666666;
      font-size: 24px;
    }
  }

  footer {
    margin: 10rem 0 5rem;
    font-size: 24px;
    color: #666666;
    text-align: right;
  }

  .home {
    .title {
      font-size: 6rem;
      text-align: center;
      margin-bottom: 0rem;
      font-family: 'Cormorant Garamond', serif;
      font-style: italic;
    }
    .by-line {
      font-size: 2.5rem;
      text-align: center;
      font-weight: 500;
      margin: 0rem 0rem;
      a {
        text-decoration: none;
        color: #333333;
      }
    }
    .description {
      text-align: center;
      color: #666666;
      margin: 1rem 0 5rem;
    }

    .poem-list {
      list-style: none;
      padding: 0;
      li {
        margin: 2rem 0;
        a {
          display: block;
          padding: 1rem;
          margin-left: -1rem;
          text-decoration: none;
          color: black;
          font-size: 2rem;
          border-radius: 12px;

          transition: background 0.25s ease-in-out;

          &:hover,
          &:active {
            background-color: #f7f7f7;
          }

          .link-text {
            font-size: 40px;
            font-family: 'Cormorant Garamond', serif;
            font-style: italic;
          }

          .date {
            color: #666666;
            font-size: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .page {
    font-size: 24px;
    margin: 1rem 0;

    .poem .title {
      font-size: 3rem;
    }
  }
}
